.header__more{
    height: auto;

}
.contacts .container-min{
    width: 66%;
    margin: 20% auto 0;
}
.contacts .container-min img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.contacts .container-min h2 {
    margin: 25px 0 20px;
    font-weight: 700;
    color: var(--red-color);
}
.contacts .container-min p {
    margin: 0;
    font-size: 13px;
}
.footer_more{
    position: relative;
    padding: 0;
    margin: 0;
    height: 500px;
}
.products-page{
    margin: 0 37px;
    padding: 0 40px;
}
.products-page .container-min h5{
    font-weight: 700;
    padding: 10px 0;
    color: var(--red-color);
}
.bag-cards{
    width: 240px;
    height: 205px;
    padding: 0 20px;
    border-right: 1px solid var(--red-color);
}
.bag-cards img{
    width: 120px;
}
.footer_more{
    margin-top: 50px;
    height: 80%;
}
.footer_more .card-blur{
    left: 0;
    opacity: 1;
}
.footer_more .footer__info{
    left: 72% !important;
    transform: translateX(-50%);
    opacity: 1;
}
@media (max-width : 1200px) {
    .footer__wrapper .card-blur{
        left: 50%;
    }
    .footer_more .footer__info {
        left: 50% !important;
    }
    .header__more {
        height: 50px !important;
        margin-bottom: 20% !important;
    }

}
    @media (max-width : 770px) {
            .contacts .container-min {
                margin: -80px auto 0 !important;
            }
}  